/*Global Page*/
.authPageMain {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
.authPageTitle {
    font-family: Roboto;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.authPageDescri {
    width: 80%;
    margin: auto;
    font-size:1.2em;
}
.authPage {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    border-radius: 50px;
    background-color: #2C2C2E;
}
.authPageLogin,.authPageSignup {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #E5E5EA;
}
.authPageLogin > h1,.authPageSignup > h1 {
    text-shadow: 0px 4px 4px rgba(229, 229, 234, 0.25);
    color: #E5E5EA;
    text-align: center;
}

/*Login Page*/
.authPageLoginForm {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.authPageLoginEmail, .authPageLoginPwd {
    margin-top: 3%;
}
.authPageLoginEmail > input[type=email], .authPageLoginPwd > input[type=password]{
    margin-top: 1%;
    border-radius: 10px;
    padding: 2%;
    width: 50%;
    float: right;
}
.authPageLoginForm > button {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5%;
    margin-bottom: 2%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #0A84FF;
    border-color: #0A84FF;
    border-radius: 50px;
}

/*Signup Page*/
.authPageSignup {
    border-left: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.authPageSignupForm {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.authPageSignupUserName, .authPageSignupDate {
    margin-top: 3%;
}
.authPageSignupUserName > input[type=text], .authPageSignupDate > input[type=date]{
    margin-top: 1%;
    border-radius: 10px;
    padding: 2%;
    width: 50%;
    float: right;
}
.authPage label {
    vertical-align: middle;
    width: 40%;
    float: left;
    padding: 2%;
    margin-top: 1%;
}
.authPageSignupEmail > input[type=email], .authPageSignupConfEmail > input[type=email],
.authPageSignupPwd > input[type=password], .authPageSignupPwd2 > input[type=password] {
    margin-top: 1%;
    border-radius: 10px;
    padding: 2%;
    width: 50%;
    float: right;
}
.authPageSignupForm > button {
    width: 50%;
    margin: 5% 40% 2% 40%;
    padding: 0.5em;
    background-color: #0A84FF;
    border-color: #0A84FF;
    border-radius: 50px;
}