/* .canvas {
    display: flex;
    width: 80%;
    margin: auto;
} */
.canvasMain {
    margin: 2em;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    max-width: 2000px;
}

.canvasDraw, .canvasToolsLeft, .canvasToolsRight {
    background-color: var(--CardBackground);
    box-shadow: 0 5px 10px 10px var(--Shadow);
    color: var(--PrimaryText);
    padding: 2em;
    border-radius:25px
}

.canvasToolsLeft {
    display: flex;
    flex-direction:column;
    width: 20%;
    max-width: 250px;
}


.canvasToolsLeftImage, .canvasToolsLeftOthersTools {
    margin-bottom: 2em;
    background: var(--Background2);
    height: 40%;
    border-radius: 25px;
    display:flex;
    padding-bottom: 1em;
}

.canvasToolsLeftImage {
    flex-direction: column;
    align-items: center;
    height: auto;
}
.canvasToolsLeftImage img {
    width: 90%;
}

.canvasToolsLeftOthersTools {
    flex-direction: column;
    justify-content:space-around
}

.canvasToolsLeftUndo {
    align-self: center;
    padding: .5em 1em;
    margin: 2em;
    border-radius: 25px;
    background-color: #8e8e93;
    color: #f2f2f7;
    font-size: .8em;
    font-weight: 600;
    border:none;
}

.canvasToolsLeftBrush, .canvasToolsLeftLazy{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvasToolsLeftBrush {
    text-align:center;
    margin-bottom: 0.2em;
}

.canvasToolsLeftBrush > input {
    width:66%;
}

.canvasToolsLeftLazy {
    text-align:center;
}

.canvasToolsLeftLazy > input {
    width:66%;
}

.canvasToolsLeftSubmit {
    align-self: center;
    padding: .5em 1em;
    color: #f2f2f7;
    background: var(--BlueButton);
    border-radius: 25px;
    font-size: .8em;
    font-weight: 600;
    border:none;
}

.canvasDraw {
    justify-content:space-around;
    max-width: ;
}

.canvasDraw, .canvasDrawTitle {
    display: flex;
    flex-direction:column;
}

.canvasDrawTitle {
    justify-content:space-between;
}

.canvasDrawTitle > textarea {
    width: 100%;
    resize: none;
    border: none;
    background-color: var(--CardBackround);
    color: var(--PrimaryText);
    text-align: center;
    font-size: 1em;
    font-weight:500
}

.canvasDrawTitle textarea:first-of-type {
    text-transform: capitalize;
    text-align: center;
    color: var(--BlueButton);
    font-size: 2em;
    font-weight:600
}

.canvasDrawSection {
    background: #f2f2f7;
    /* border-radius: 25px; */
    border:1px solid #8e8e93
}

.canvasToolsRight {
    display: flex;
    flex-direction: column;
    justify-content:center
}

.canvasToolsRightColorPicker {
    /* transform: rotate(90deg); */
    /* min-width: 200px; */
}

.canvasToolsLeftDropDown > div, .canvasToolsRightDropDown {
    visibility:hidden
}
