.userPage > div {
    padding:2em;
    animation: PopAnimation 0.25s;
}

.userPage > div > h1 {
    color: var(--PrimaryText);
    background: var(--CardBackground);
    box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132),0 .6px 1.8px 0 rgba(0,0,0,.108);
    border-radius: 25px;
    padding: .5em 1em;
    font-size: 2.2em;
    font-weight:700;
}

.userPage> div:nth-of-type(2) {
    color: var(--SecondaryText);
    font-size: 1.2em;
    font-weight: 400;
    list-style: none
}

.userPageCreationsFinishContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
