.initateDrawingContainer {
    width: 66%;
    margin-right: auto;
    margin-left:auto
}

.initateDrawingTitle {
    text-align: center;
    color: var(--PrimaryText);
    font-size: 2em;
    font-weight:600
}

.initateDrawingForm {
    background-color: var(--CardBackground);
    color: var(--SecondaryText);
    box-shadow: 0 5px 10px 10px var(--Shadow);
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding: 2em;
    font-size: 1em;
    font-weight:500
}

.initateDrawingChoseTitle, .initateDrawingDescription, .initateDrawingGameMode, .initateDrawingGameType, .initateDrawingTemplate {
    border:none
}

.initateDrawingChoseTitle {
    display: flex;
    flex-direction:column
}

.initateDrawingTitleFrame {
    align-self: center;
    width: 66%;
    border: none;
    border-radius: 25px;
    color: var(--SecondaryText);
    background: var(--Background2);
    font-size: .8em;
    font-weight: 500;
    padding: .5em;
    margin:.5em
}

.initateDrawingDescription {
    display: flex;
    flex-direction:column
}

.initateDrawingDescription > textarea {
    width: 66%;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: var(--SecondaryText);
    background: var(--Background2);
    font-size: .8em;
    font-weight: 500;
    padding: .5em;
    margin: .5em;
    resize:none
}

.initateDrawingGameMode, .initateDrawingGameType, .initateDrawingTemplate {
    display: flex;
    flex-direction:column
}

.initateDrawingGameType, .initateDrawingGameMode{
    display: none;
}

.initDrawingRadiosButtons {
    align-self: center;
    width: 66%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.initateDrawingSubmitButton {
    padding: .5em 1em;
    margin: 2em;
    color: #f2f2f7;
    background: var(--BlueButton);
    border-radius: 25px;
    font-size: .8em;
    font-weight: 600;
    border: none;
    align-self:center
}
