 .container{
     width: 80%;
     margin: auto;
 }

 fieldset{
     margin: 10px 0px 10px 0px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
