.homeAll {
    display: flex;
    flex-direction:column
}

.homeTitle {
    text-align: center;
    font-size: 2em;
    font-weight:600
}

.homeTitle, .scrollerMain {
    color:var(--PrimaryText)
}

.homeDivPlanche, .scrollerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.scrollerLoading {
    text-align: center;
}