.scrollerMain{
    color: var(--PrimaryText);
}

.scrollerContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.scrollerLoading {
    text-align: center;
}

.homeAll {
    display: flex;
    flex-direction:column
}

.homeTitle {
    text-align: center;
    font-size: 2em;
    font-weight:600
}

.homeTitle, .scrollerMain {
    color:var(--PrimaryText)
}

.homeDivPlanche {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.homeDivPlanche {
    padding:2em 0
}

.homeDivPlancheLoader {
    color:var(--PrimaryText)
}

.homePlancheWrapper {

}

.homePlancheFullscreenWrapper {
    padding: 2em;
    z-index: 3;
    position: absolute;
    width: 80vw;
    height: 70vh;
    left: 5vw;
    top: 5vh;
}

.homePlancheFullscreen {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 2em;
    justify-content: space-around;
    background: var(--CardBackground);
    box-shadow: 0 5px 10px 10px var(--Shadow);
    border-radius:25px;
}

.homePlancheFullscreenInfos {
    justify-content: space-around;
}

.homePlancheFullscreenImg {
    width: 50%;
    border:1px solid #8e8e93;
    background-color: #AAB2AB;
    cursor: pointer;
}

.homeDescriFullscreen {
    color: var(--SecondaryText);
    height:20em;
}

.homePlanche {
    display: flex;
    flex-direction:column;
    margin: 20px;
    width: 250px;
    padding: 2em;
    justify-content: space-between;
    background: var(--CardBackground);
    /*box-shadow: 0 5px 10px 10px var(--Shadow);*/
    box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132),0 .6px 1.8px 0 rgba(0,0,0,.108);
    border-radius: 25px;
    animation: PopAnimation 0.25s;
}

.homePlanche:hover {
    /*box-shadow:0 10px 15px 15px var(--ShadowHover);*/
    box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132),0 1.2px 3.6px 0 rgba(0,0,0,.108);
}

.homePlancheTop {
    /* color: var(--CardBackground); */
    text-align:center
}

.homePlancheImg {
    width: 100%;
    object-fit: cover;
    border:1px solid #8e8e93;
    background-color: #AAB2AB;
    cursor: pointer;
}

.homePlancheTopInfos {
    display: flex;
    flex-direction: column;
    color:var(--PrimaryText)
}

.homePlancheTopInfos > textarea {
    resize: none;
    border: none;
    text-align: center;
    background:var(--CardBackground)
}

.homeName {
    text-align: center;
    color: var(--PrimaryText);
    font-size: 1.2em;
    font-weight: 600;
    height:2.4em
}

.homeDescri {
    color: var(--SecondaryText);
    height:2.3em
}

.homeDescri, .homeUser {
    font-size: 1em;
    font-weight:500
}

.homeUser {
    color: var(--PrimaryText);
    margin:0 0 .5em
}

.homeMode {
    margin: .5em auto;
    padding: .5em 1em;
    color: #f2f2f7;
    background: linear-gradient(var(--ClassicButtonStart), var(--ClassicButtonEnd));
    border-radius: 25px;
    font-size: .8em;
    font-weight: 600;
    border:none
}

.homePlancheBottom {
    display: flex;
    justify-content:space-around
}

.homePlancheBottom > button {
    padding: .5em 1em;
    color: #f2f2f7;
    background: var(--BlueButton);
    border-radius: 25px;
    font-size: .8em;
    font-weight: 600;
    border:none
}

.homePlancheBottom > button:hover {
    background:var(--BlueButtonHover)
}

.homeDeleteAdminButton {
    z-index: 1;
    margin: 2em 2em 0;
    padding: .5em 1em;
    color: #f2f2f7;
    background: var(--RedButton);
    border-radius: 25px;
    font-size: .8em;
    font-weight: 600;
    border:none
}

.homeDeleteAdminButton:hover {
    background:var(--RedButtonHover)
}

.plancheLike {
    box-shadow:0 5px 10px 10px var(--LikeShadow)
}

.plancheDislike {
    box-shadow:0 5px 10px 10px var(--DislikeShadow)
}

@media only screen and (max-width: 600px) {
    .homeTitle {
        margin: 20px;
        text-align: left;
    }
    
    .homePlanche {
        margin: 20px;
        padding: 0;
        width: auto;
        justify-content: space-between;
        background: var(--CardBackground);
        box-shadow: 0 10px 20px var(--Shadow);
        /*box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132),0 .6px 1.8px 0 rgba(0,0,0,.108);*/
        border-radius: 20px;
        animation: PopAnimation 0.25s;
    }
    
    .homePlancheImg {
        width: 100%;
        border: none;
        border-radius: 20px 20px 0 0;
    }
    
    .homePlancheTopInfos, .homePlancheBottom {
        padding: 20px;
    }
}
