.homeTitle {
    font-family: Roboto;
    text-align: center;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.homeDivPlanche{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 5%;
    margin-left: 5%;
}

.homePlanche{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5%;

    background: #2C2C2E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.homePlancheTop{
    min-width: 500px;
    margin-bottom: 5%;

    display: flex;
    flex-wrap: row;
    justify-content: space-around;
    color: #F2F2F7;
}
.homePlancheImg{
    height: auto;
    width: auto;
}
.homeName{
    color: #FF453A;
}
.homeDescri{
    color: #FF3E4C;
}
.homeMode{
    color: #FF375F;
}


.homePlancheBottom{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.homePlancheBottom > button{
    size: 2em;
    padding: 1em;
    border-radius: 50px;
    border-color: #0A84FF;

    background: #0A84FF;
    color: #F2F2F7;
    opacity: 0.9;
}