.homeAll {
    padding-top: 66px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 90%;
}

.homeTitle {
    text-align: center;
    color: var(--PrimaryText);
    font-size: 2em;
    font-weight:600;
}

.homeDivPlanche {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.homePlanche {
    margin: 2em;
    width: 250px;
    height: 450px;
    padding: 2em;
    flex-direction: column;
    justify-content: space-between;
    background: var(--CardBackground);
    box-shadow: 0 5px 10px 10px var(--Shadow);
    border-radius: 25px;
}

.homePlanche, .homePlancheTop {
    display: flex;
    flex-direction: column;
}

.homePlancheTop {
    display: flex;
    flex-direction: column;
    color: var(--CardBackground);
    text-align: center;
}

.homePlancheImg {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid rgb(142, 142, 147);
}

.homePlancheTopInfos {
    display: flex;
    flex-direction: column;
    color: var(--PrimaryText);
}

.homePlancheTopInfos > textarea {
    resize: none;
    border: none;
    background: var(--CardBackground);
}

.homeName {
    text-align: center;
    color: var(--PrimaryText);
    font-size: 1.5em;
    font-weight: 600;
}

.homeDescri {
    color: var(--SecondaryText);
    font-size: 1em;
    font-weight: 500;
}

.homeUser {
    color: var(--PrimaryText);
    font-size: 1em;
    font-weight:500
    
}

.homeMode {
    padding: auto;
    margin: auto;
    padding: .5em 1em;
    color: rgb(242, 242, 247);
    background: linear-gradient(var(--ClassicButtonStart), var(--ClassicButtonEnd));
    border-radius: 25px;
    font-size: .8em;
    font-weight: 600;
    border:none;
}

.homePlancheBottom {
    display: flex;
    justify-content: space-around;
}

.homePlancheBottom > button {
    padding: .5em 1em;
    color: rgb(242, 242, 247);
    background: var(--BlueButton);
    border-radius: 25px;
    font-size: .8em;
    font-weight: 600;
    border: none;
}

.homePlancheBottom > button:hover {
    background: var(--BlueButtonHover);
}

@media only screen and (max-width: 1025px) {
    .homePlanche {
    }

    .homePlancheTop {
    }
}