.homeTitle {
    font-family: Roboto;
    text-align: center;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.homeDivPlanche{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.homePlanche{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 5%;

    background: #2C2C2E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.homePlancheTop{
    max-width: 500px;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: row;
    justify-content: space-around;
    color: #F2F2F7;
}
.homePlancheImg{
    max-width: 50%;
    border-radius: 10px;
    margin: 3%;
    height: auto;
    width: auto;
}
.homePlancheTopInfos {
    max-width: 50%;
    margin: 3%;
}
.homeName{
    color: #FF453A;
}
.homeDescri{
    color: #FF3E4D;
}
.homeMode{
    color: #FF375F;
}
.homePlancheBottom{
    display: flex;
    justify-content: space-around;
}

.homePlancheBottom > button{
    margin-bottom: 3%;
    padding: 1em;
    border-radius: 50px;
    border-color: #0A84FF;
    background: #0A84FF;
    color: #F2F2F7;
    opacity: 0.9;
}

@media only screen and (max-width: 1000px) {
    /*CSS for screen under or equal 600px*/
    .homePlanche {
        min-width: 275px;
    }
    .homePlancheTop{
        max-width: 350px;
    }
}