.drawSelector {
    width: 50%;
    margin: 2em auto;
    padding: 2em;
    background: var(--CardBackground);
    box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132),0 .6px 1.8px 0 rgba(0,0,0,.108);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--PrimaryText);
    animation: PopAnimation 0.25s;
}

.drawTitle {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 2em;
    font-weight:700
}

.drawImage {
    margin: 2em;
    border: 1px solid #8e8e93;
    width:40%
}

.drawImageMessage {
    text-align: center;
    padding:20% 3em
}

.drawInfosText {
    display: flex;
    align-items: center;
    flex-direction:row
}

.drawInfosTextPackage {
    display: flex;
    flex-direction:column
}

.drawInfosTextPackage > label, .drawUser > span {
    font-weight:700
}

.drawDesc, .drawName {
    align-self: center;
    border: none;
    border-radius: 10px;
    color: var(--SecondaryText);
    background: var(--Background2);
    font-size: 1em;
    font-weight: 500;
    padding: .5em;
    margin: .5em;
    resize:none
}

.drawGM {
    text-align: center;
    color: #f2f2f7;
    background: linear-gradient(var(--ClassicButtonStart), var(--ClassicButtonEnd));
    font-size:.8em
}

.drawDraw, .drawGM, .drawNext {
    align-self: center;
    padding: .5em 1em;
    border-radius: 25px;
    font-weight: 600;
    border:none
}

.drawDraw, .drawNext {
    margin-top: 2em;
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    align-items:center
}

.drawNext {
    color: var(--Background);
    background:var(--PrimaryText)
}

@media (prefers-color-scheme: light) {
    .drawNext > img {
        filter: invert(1);
    }
}

.drawDraw {
    color: #f2f2f7;
    background:var(--BlueButton);
}

.drawDraw > img {
    filter: invert(1);
}

.drawNothingToDraw {
    width: 60%;
    margin: auto;
    background-color: var(--CardBackground);
    box-shadow: 0 5px 10px 10px var(--Shadow);
    border-radius: 25px;
    padding: 2%;
    color:var(--PrimaryText)
}

.drawNothingToDrawTitle {
    font-size:2em
}

.drawNothingToDrawTitle, .drawStartNewPage {
    text-align: center;
    font-weight: 600;
    color:var(--PrimaryText)
}

.drawStartNewPage {
    padding: .5em 1em;
    text-decoration: none;
    font-size:1.2em
}

.drawStartNewPage:hover {
    background: var(--NavbarHover);
    -webkit-backdrop-filter: saturate(1.8) blur(20px);
    backdrop-filter: saturate(1.8) blur(20px);
    border-radius:25px
}

.drawButtons {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items:center
}

.drawButtons img {
    height:1.2em
}