html {
    background-color: var(--Background);
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 0.5em;
    background-color: var(--CardBackground);
    box-shadow: 0 5px 10px 10px var(--Shadow);
}

.dwarf {
    text-decoration: none;
    color: var(--PrimaryText);
    font-size: 2em;
    font-weight:700;
}

.componentsMenu {
    display:flex;
}

.link {
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
    color: var(--PrimaryText);
    font-size: 1.2em;
    font-weight: 600;
}

.link:hover {
    background: var(--Hover);
    border-radius: 25px;
}

.log {
    text-decoration: none;
    border-radius: 25px;
    padding: 0.5em 1em;
    color: rgb(242, 242, 247);
    background-color: var(--BlueButton);
    font-size: 1em;
    font-weight: 600;
}

input[type=text] {
    resize: none
}
