html {
    background-color: var(--Background);
    position: relative;
    min-height:100%
}

.menu {
    justify-content: space-around;
    padding: .5em;
    background-color: var(--Navbar);
    /*border-bottom: 1px solid #8e8e93;*/
    box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132),0 .6px 1.8px 0 rgba(0,0,0,.108);
    -webkit-backdrop-filter: saturate(1.8) blur(20px);
    backdrop-filter: saturate(1.8) blur(20px);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    right: 0;
    height: 50px;
    z-index:2
}

.dwarfDiv, .menu {
    display: flex;
    align-items:center
}

.dwarfLogo {
    height: 50px;
    width: auto;
    margin:auto;
}

@media (prefers-color-scheme: dark) {
    .dwarfLogo {
        filter: invert(1);
    }
}

.dwarf {
    text-decoration: none;
    color: var(--PrimaryText);
    font-size: 2em;
    font-weight:700
}

.componentsMenu {
    display:flex
}

.componentsMenu + .link {
    background: linear-gradient(var(--ClassicButtonStart), var(--ClassicButtonEnd));
    border-radius:25px;
    color: rgb(242, 242, 247);
    font-size: 1em;
}

.componentsMenu + .link:hover {
    background-color:#ee4239
}

.link {
    text-align: center;
    padding: .5em 1em;
    text-decoration: none;
    color: var(--PrimaryText);
    font-size: 1.2em;
    font-weight:600
}

.link:hover {
    background: var(--NavbarHover);
    -webkit-backdrop-filter: saturate(1.8) blur(20px);
    backdrop-filter:saturate(1.8) blur(20px)
}

.link:hover, .log {
    border-radius:25px
}

.log {
    text-decoration: none;
    border: none;
    padding: .5em 1em;
    color: #f2f2f7;
    background-color: var(--BlueButton);
    font-size: 1em;
    font-weight:600
}

.log:hover {
    background:var(--BlueButtonHover)
}

input[type=text] {
    resize:none
}

.footer {
    position: absolute;
    bottom: -100px;
    width: 100%;
    padding: 1em 0;
    color: var(--SecondaryText);
    background: var(--CardBackground);
    box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132),0 .6px 1.8px 0 rgba(0,0,0,.108);
    font-size: 1em;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items:center
}

.footer p {
    margin:5px
}

@media only screen and (max-width: 600px) {
    .menu {
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        margin: 0;
        box-shadow: none;
        -webkit-backdrop-filter: saturate(1.8) blur(20px);
        backdrop-filter: saturate(1.8) blur(20px);*
        justify-content: space-around;
    }
    
    .dwarfDiv {
        display: none;
    }
    
    .menu > a {
        display: none;
    }
    
    .log {
        text-align: center;
        text-decoration: none;
        padding: .5em 1em;
        color: var(--PrimaryText);
        background-color: transparent;
        font-size: 10px;
        font-weight: normal;
    }
    
    .link {
        font-size: 10px;
        font-weight: normal;
    }
}
