html {
    background-color:var(--Background)
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5em;
    background-color: var(--Navbar);
    border-bottom: 1px solid #8e8e93;
    -webkit-backdrop-filter: saturate(1.8) blur(20px);
    backdrop-filter: saturate(1.8) blur(20px);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    right: 0;
    height:50px;
    z-index: 2;
}

.dwarf {
    text-decoration: none;
    color: var(--PrimaryText);
    font-size: 2em;
    font-weight:700
}

.componentsMenu {
    display:flex
}

.link {
    text-align: center;
    padding: .5em 1em;
    text-decoration: none;
    color: var(--PrimaryText);
    font-size: 1.2em;
    font-weight:600
}

.link:hover {
    background:var(--NavbarHover);
    -webkit-backdrop-filter: saturate(1.8) blur(20px);
    backdrop-filter: saturate(1.8) blur(20px);
}

.link:hover, .log {
    border-radius:25px
}

.log {
    text-decoration: none;
    border: none;
    padding: .5em 1em;
    color: #f2f2f7;
    background-color: var(--BlueButton);
    font-size: 1em;
    font-weight:600
}

.log:hover {
    background:var(--BlueButtonHover)
}

input[type=text] {
    resize:none
}

.footer {
    margin-top: 2em;
    position: relative;
    bottom: 0;
    color: var(--SecondaryText);
    background: var(--CardBackground);
    display: flex;
    flex-direction: column;
    align-items: center;
}
