@media (prefers-color-scheme: dark) {
    :root {
        --Navbar: rgba(44, 44, 46, 0.8);
        --NavbarHover: rgba(28, 28, 30, 0.8);
        --Background: #1c1c1e;
        --Background2: #1c1c1e;
        --CardBackground: #2c2c2e;
        --Hover: #1c1c1e;
        --PrimaryText: #f2f2f7;
        --SecondaryText: #e5e5ea;
        --TernaryText: #d1d1d6;
        --BlueButton: #0a84ff;
        --BlueButtonHover: #409cff;
        --RedButton: #ff3b30;
        --RedButtonHover: rgb(255, 105, 97);
        --ClassicButtonEnd: #ff3b30;
        --ClassicButtonStart: #ff2d55;
        --Shadow:#141418;
        --ShadowHover: rgb(18, 18, 22);
        --LikeShadow: rgb(48, 209, 88);
        --DislikeShadow: rgb(255, 69, 58);

    }
}

@media (prefers-color-scheme: light) {
    :root {
        --Navbar: rgba(255, 255, 255, 0.8);
        --NavbarHover: rgba(229, 229, 234, 0.8);
        --Background: rgb(255, 255, 255);
        --Background2: #e5e5ea;
        --CardBackground: #ffffff;
        --Hover: #e5e5ea;
        --PrimaryText: #1c1c1e;
        --SecondaryText: #2c2c2e;
        --TernaryText: #3a3a3c;
        --BlueButton: #007aff;
        --BlueButtonHover: #0040dd;
        --RedButton: #ff453a;
        --RedButtonHover: rgb(215, 0, 21);
        --ClassicButtonEnd: #ff453a;
        --ClassicButtonStart: #ff375f;
        --Shadow:#d1d1d6;
        --ShadowHover: rgb(199, 199, 204);
        --LikeShadow: rgb(52, 199, 89);
        --DislikeShadow: rgb(255, 59, 48);

    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
}
